.simulator {
  border: 3px solid #99f;
  margin-bottom: 1.45rem;
  padding: 2em;
}

.statblock {
  height: 200px;
  width: 300px;
  label {
    font-weight: 600;
  }
}

.colLeft {
  width: 66%;
  display: inline-block;
}
.colRight {
  width: 34%;
  display: inline-block;
}
.clear {
  &:after {
    clear: both
  }
}